[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask_cors = "*"
flask_migrate = "*"
flask = "*"
gunicorn = "*"
flask_sqlalchemy = "*"
flask_restful = "*"
flask_bcrypt = "*"
psycopg2_binary = "*"
sqlalchemy_serializer = "*"
datetime = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
