#popUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it overlays other content */
}

#loginContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    width: 500px;
    border-radius: 8px;
    text-align: center;
    height: 450px;
}

.loginInput {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100px;
    border: none;
    border-bottom: solid;
    font-size: 200%;
}

#loginButtonGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
    margin-left: 10px;
    margin-right: 10px;
}
