#socialsGrid{
    display: grid;
    justify-self: flex-end;
    grid-template-columns: repeat(3, auto);
    width: 13%;
}

.linkednLink,
.gitHubLink,
.instaLink{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.instaLink{
    background-color: white;
    border-radius: 24px;
}

.socialLogo{
    max-width: 100%;
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}